@plugin "daisyui";

.large-text {
  font-size: 2rem;
  font-weight: 600;
}
.medium-text {
  font-size: 1.25rem;
  font-weight: 500;
}
.small-text {
  font-size: 1rem;
  font-weight: 400;
}

.logo {
  width: 5rem;
  border-radius: 1.5rem;
}

.card-bg {
  background-color: var(--color-card-background);
}
