@plugin "daisyui";

html {
  transition: background-color 300ms ease, color 300ms ease;
}

.large-text {
  font-size: 2rem;
  font-weight: 600;
}
.medium-text {
  font-size: 1.25rem;
  font-weight: 500;
}
.small-text {
  font-size: 1rem;
  font-weight: 400;
}

.logo {
  width: 5rem;
  border-radius: 1.5rem;
}

.card-bg {
  background-color: var(--color-card-background);
}

.small-logo {
  width: 3rem;
  border-radius: 1rem;
  height: 3;
}

.light-theme-text {
  color: hsl(222 47% 6%);
}

.dark-theme-text {
  color: hsl(210 40% 98%);
}
